@model College.Management.Entities.User
<div>
    <form class="form-signin" action="/Home/UserLogin" method="post">
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        @Html.LabelFor(x => x.Email)
        @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control" } })
        @*<label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" value="@Model.Email" required autofocus>*@

        <br />

        @Html.LabelFor(x => x.Password)
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })


        @*<div class="mb-3">
                <label>
                    @Html.ActionLink("Sign Up", "Register", new { @class = "form-control" })
                </label>
            </div>*@


        <span >
            Don’t have an account?  &nbsp; <a href="/Home/Registration" class="alert-link">Register </a>
        </span>

        <br />
        <br/>
        <button class="btn btn-sm btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
